.bg-image {
	/* background-image: url('../pictures/peacockfeather.jpg'); */
	height: 100vh;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.mask {
	background-color: rgba(0, 0, 0, 0.6);
	height: 100vh;
}
